# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import json
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
filePath = "../WeatherPy/output_data/cities.csv"
citiesData = pd.read_csv(filePath)
citiesData.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,esperance,-33.8667,121.9000,77.00,36,98,14.97,AU,1615946261
1,yekimovichi,54.1129,33.2965,31.35,96,100,5.46,RU,1615946261
2,banyo,6.7500,11.8167,69.17,73,100,4.00,CM,1615946262
3,areosa,41.7178,-8.8571,60.80,44,0,13.80,PT,1615946262
4,norman wells,65.2820,-126.8329,-2.20,71,75,3.44,CA,1615946262

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure map
gmaps.configure(api_key=g_key)

figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

fig = gmaps.figure(layout=figure_layout)

In [4]:
# Get coordinates and humidity for map
locations = citiesData[["Lat", "Lng"]].astype(float)
humidity = citiesData["Humidity"].astype(float)

In [5]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Format map
figure_layout = {
    'width': '600px',
    'height': '400px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

fig = gmaps.figure(layout=figure_layout)

In [6]:
# Plot Heatmap

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=citiesData["Humidity"].max().astype(float),
                                 point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='400px', margin='0 auto 0 auto', padding='1px', wiâ€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
# Create a data frame of cities that have: max temp 70-80, 
weatherCities = citiesData.loc[((citiesData["Max Temp"]<80)&(citiesData["Max Temp"]>70))&
                              (citiesData["Cloudiness"]==0)&(citiesData["Wind Speed"]<10)]
weatherCities.dropna()
weatherCities

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
69,digras,20.1167,77.7167,79.86,25,0,2.44,IN,1615946286
75,akyab,20.1500,92.9000,74.70,60,0,3.47,MM,1615946289
78,busselton,-33.6500,115.3333,75.99,63,0,1.01,AU,1615946290
85,saint-philippe,-21.3585,55.7679,73.99,64,0,5.75,RE,1615946294
86,saint-pierre,-21.3393,55.4781,73.99,64,0,5.75,RE,1615946295
103,kaeo,-35.1000,173.7833,75.99,52,0,5.01,NZ,1615946302
115,mount gambier,-37.8333,140.7667,77.00,44,0,8.05,AU,1615946307
126,araouane,18.9048,-3.5265,72.54,14,0,9.62,ML,1615946311
131,andros town,24.7000,-77.7667,73.40,83,0,5.75,BS,1615946314
140,marica,-22.9194,-42.8186,75.20,83,0,8.05,BR,1615946317
162,codrington,-38.2667,141.9667,78.03,44,0,5.28,AU,1615946325
170,lima,-12.0432,-77.0282,79.00,78,0,9.22,PE,1615946327
179,aguada de pasajeros,22.3850,-80.8508,75.20,78,0,3.44,CU,1615946331
199,goundam,16.4145,-3.6708,74.57,16,0,8.81,ML,1615946338
211,salvador,13.8333,-88.9167,75.20,78,0,2.17,SV,1615946137
231,kyaiklat,16.4333,95.7333,77.00,88,0,3.44,MM,1615946350
248,salalah,17.0151,54.0924,73.40,68,0,4.61,OM,1615946357
263,yazman,29.1212,71.7446,71.46,30,0,5.59,PK,1615946362
294,riyadh,24.6877,46.7219,77.00,23,0,5.75,SA,1615946373
303,saint-joseph,-21.3667,55.6167,73.99,64,0,5.75,RE,1615946378
316,las guacamayas,18.0167,-102.2167,71.85,78,0,3.31,MX,1615946240
361,atar,20.5169,-13.0499,71.89,14,0,7.29,MR,1615946402
408,tura,25.5198,90.2201,77.99,24,0,3.91,IN,1615946432
417,maceio,-9.6658,-35.7353,73.40,88,0,1.14,BR,1615946411
449,piopio,-38.4667,175.0167,78.01,41,0,5.01,NZ,1615946455
461,quelimane,-17.8786,36.8883,78.80,94,0,2.84,MZ,1615946462
466,mopti,14.6667,-4.0000,75.85,18,0,8.86,ML,1615946465
469,umm lajj,25.0213,37.2685,72.93,79,0,8.28,SA,1615946466
514,lashio,22.9333,97.7500,77.88,30,0,0.92,MM,1615946484

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
# Create a data frame to hold hotel info
hotel_df = citiesData
hotelName = []

# Search for hotels within within 5000 meters of the coordinates

# Search options
target_radius = 5000
target_type = "hotel"

# Parameters dictionary
params = {
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Iterate through all the coordinates and find the first hotel

for index, city in citiesData.iterrows():
    # Get the current cities coordinates
    params["location"] = str(city["Lat"]) + "," + str(city["Lng"])

    # Request the information from the API using the parameters
    response = requests.get(base_url, params=params).json()

    #
    try:
        hotelName.append(response["results"][0]["name"])
    except:
        hotelName.append("N/A")

# Store the hotel info in a data frame
hotel_df["Hotel Name"] = hotelName
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,esperance,-33.8667,121.9000,77.00,36,98,14.97,AU,1615946261,Esperance
1,yekimovichi,54.1129,33.2965,31.35,96,100,5.46,RU,1615946261,Desnogorsk
2,banyo,6.7500,11.8167,69.17,73,100,4.00,CM,1615946262,Banyo
3,areosa,41.7178,-8.8571,60.80,44,0,13.80,PT,1615946262,Viana do Castelo
4,norman wells,65.2820,-126.8329,-2.20,71,75,3.44,CA,1615946262,Norman Wells
...,...,...,...,...,...,...,...,...,...,...
546,cabo san lucas,22.8909,-109.9124,71.60,49,1,8.05,MX,1615946243,Cabo San Lucas
547,furano,43.2818,142.4743,33.80,51,75,5.75,JP,1615946496,Furano
548,north bend,43.4065,-124.2243,48.20,57,1,11.50,US,1615946497,Coos Bay
549,samfya,-11.3649,29.5565,63.63,94,100,2.71,ZM,1615946497,Samfya
550,katangli,51.7102,143.2326,18.82,80,100,21.52,RU,1615946498,Katangli

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)

# Add the layer to the map
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='400px', margin='0 auto 0 auto', padding='1px', wiâ€¦